body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculadora {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

#pantalla {
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

#teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ddd; /* Añadir borde a todos los botones */
    cursor: pointer;
    transition: background-color 0.3s;
}

button.operador {
    background-color: #f1f1f1;
}

button:active {
    background-color: #ddd;
}